mixin socialItem(s)
  div(class="socialItem")
    a(href=s.link)
      span(class=`${s.icon}`)

mixin textGroup1(fG)
  div(class=`textGroupOne ${fG.style}`)
    h2= fG.title
    p= fG.text
    button.btn.active= fG.button

mixin textGroupTwo(services)
  each tG in services
    div.textGroupTwo
      div(class=`simpleIcon ${tG.color}`)
        span(class=`${tG.icon} ${tG.color}`)
      div.header
        h5= tG.title
      div.text
        p= tG.detail

mixin textGroupThree(f)
  div.textGroupThree
    div.simpleIcon
      span(class=`${f.icon} default`)
    div.textContainer
      div.header
        h5= f.title
      div.text
        p= f.detail

mixin featureGroup(fG)
  //- If orientation is missing from fG render
  //- containers in reverse order 
  div(class=`featureGroup ${fG.style}`)
    if fG.orientation
      div(class=`imgContainer ${fG.style}`)
        img(src=`images/${fG.image}`)
      div(class=`textContainer ${fG.style}`)
        +textGroup1(fG)
    else
      div(class=`textContainer ${fG.style}`)
        +textGroup1(fG)
      div(class=`imgContainer ${fG.style}`)
        img(src=`images/${fG.image}`)

mixin quoteGroup(q)
  div.quoteGroup
    blockquote.quote
      p= q.quote
      div.point.cf
    div.speaker
      p
        span= q.name
        = ` ${q.company}`
      p.role= q.role

mixin pricingGroup(pG)
  div(class=`pricingGroup ${pG.bestValue ? 'bestValue' : ''}`)
    if pG.bestValue
      div.bestValue Best value
    h5= pG.title
    div.upper
      div.price
        p.dollar= `$`
      div.price
        p.value= pG.price
      div.price
        p.month= `/mo`
      div.description
        p= pG.description
    div.lower
      div.pricingFeatures
        each f in pG.features
          p= f
      button(class=`btn ${pG.bestValue ? 'active' : 'clear'}`) Get Started

mixin subheader(s)
  div.subheader
    h3= s.title
    h4= s.subheader

mixin carouselImages(img)
  div(class=`screenshotImage` style=``)
    img(src=`images/${img}`)

mixin carouselFeatureGroup(fG)
  //- If orientation is missing from fG render
  //- containers in reverse order 
  div(class=`featureGroup ${fG.style}`)
    if fG.orientation
      div(class=`imgContainer ${fG.style}`)
        img(src=`images/${fG.image}`)
      div(class=`textContainer ${fG.style}`)
        +textGroup1(fG)
    else
      div(class=`textContainer ${fG.style}`)
        +textGroup1(fG)
      div(class=`imgContainer ${fG.style}`)
        img(src=`images/${fG.image}`)